$futuraBold: 'FuturaDemiC';
$futuraMedium: 'FuturaMediumC';
$futuraLight: 'FuturaLightC';
$futuraRegular: 'FuturaBookC';

$white: white;
$darkBlue: #0d294e;
$derk: #000a10;
$blue: #4b88df;
$orange: #eb7233;
$gray: #2b2a2a;

$fs42 : 42px;
$fs24 : 24px;
$fs20 : 20px;

@mixin button {
  border-radius: 10px;
  outline: none;
  padding: 25px;
  color: $white;
  background: $blue;

}